$primaryColor: #0a314e;

@font-face {
  font-family: Kanit;
  src: url('./font/Kanit-Regular.ttf');
}

body {
  font-family: Kanit;
  margin: 0;
  padding: 0;
}

.container-manager {
  background-color: $primaryColor;
  color: white;
  height: 450px;
  display: flex;

  .information {
    z-index: 999;
  }

  .col {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
  }

  .content-between {
    justify-content: space-between;
  }

  .content-end {
    justify-content: flex-end;
  }

  .name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .text-right {
    text-align: right;
  }

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 1;
    margin-left: 3rem;
  }

  .img-p1 {
    position: absolute;
    height: 400px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    z-index: 2;
    &:hover {
      height: 450px;
      transition: 0.5s;
    }
  }

  .img-p2 {
    position: absolute;
    height: 370px;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: 2;
    &:hover {
      height: 400px;
      transition: 0.5s;
    }
  }
}
