$primaryColor: #0a314e;

@font-face {
  font-family: Kanit;
  src: url('./font/Kanit-Regular.ttf');
}

body {
  font-family: Kanit;
  margin: 0;
  padding: 0;
}

.container-manager {
  background-color: $primaryColor;
  color: white;
  padding-bottom: 20px;
  .container {
    height: 450px;
    display: flex;
  }

  .information {
    z-index: 999;
  }

  .col {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    position: relative;
  }

  .content-between {
    justify-content: space-between;
  }

  .align-center {
    align-items: center;
  }

  .content-end {
    justify-content: flex-end;
  }

  .name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .text-right {
    text-align: right;
  }

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 1;
  }

  .img-p1 {
    position: absolute;
    height: 400px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    z-index: 2;
    &:hover {
      height: 450px;
      transition: 0.5s;
    }
  }

  .img-p2 {
    position: absolute;
    height: 370px;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: 2;
    &:hover {
      height: 400px;
      transition: 0.5s;
    }
  }

  .ml-4 {
    margin-left: 4rem;
  }

  .link {
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 10px #222;
  
    .wrapper {
      display: block;
      color: white;
      padding: 10px;
    }

    .link-bg1 {
      min-height: 120px;
      text-decoration: none;
      background-image: url('./image/banner1.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .link-bg2 {
      min-height: 120px;
      margin-top: 20px;
      text-decoration: none;
      background-image: url('./image/banner2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .col-md {
    width: 100%;
  }

  @media (min-width: 576px) {
    .col-md {
      width: 50%;
    }

    .link {
      flex-direction: row;
      .link-bg1 {
        margin-right: 10px;
      }

      .link-bg2 {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }

  @media (min-width: 768px) {
    .title {
      font-size: 2.5rem;
      margin-left: 3rem;
    }

    .col {
      padding: 2rem 2rem 3rem 2rem;
    }

    .link {
      .wrapper {
        padding: 20px;
      }
    }
  }

  @media (min-width: 1080px) {
    padding-bottom: 0;

    .show-lg {
      display: block;
    }

    .hide-lg {
      display: none;
    }

    .link {
      height: 150px;
      padding: 10px;
      position: absolute;
      right: 3rem;
      top: calc(50% - 85px);

      .wrapper {
        padding: 8px;
      }
      
      .link-bg1 {
        display: block;
        min-height: 70px;
        margin-left: 0;
        margin-right: 0;
      }

      .link-bg2 {
        display: block;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        min-height: 70px;
      }

      .link-title {
        font-size: 11px;
      }

      .link-sub-title {
        font-size: 9px;
      }
    }
  }

  @media (max-width: 1079px) {
    .show-lg {
      display: none;
    }

    .hide-lg {
      display: flex;
    }
  }
}
